<div *ngIf="hero">
  <h2>{{ hero.name | uppercase }} Details</h2>

  <dl>
    <dt>Name</dt>
    <dd>{{hero.name}}</dd>
    <dt>Power</dt>
    <dd>{{hero.power}}</dd>
    <dt>Alter Ego</dt>
    <dd>{{hero.alterEgo}}</dd>
  </dl>

  <a routerLink="/hero/{{hero.id}}/edit">Edit Hero</a>
  <button type="button" (click)="modalInteraction('open')">Remove Hero</button>

  <button (click)="goBack()">go back</button>

  <app-modal [isVisible]="removeHeroModal">
    Are you sure you want to remove Hero {{ hero.name }} from the Heroes list?

    <button (click)="removeHero(hero)">Remove {{ hero.name }}</button>
    <button (click)="modalInteraction('close')">No, I made a mistake</button>
  </app-modal>
</div>